<div class="jumbotron">
  <h1>Welcome to our mini-chat!</h1>
  <p class="lead">Please sign in via one of the social networks to start chatting</p>
  <%= link_to '', '/auth/twitter', class: 'btn social twitter' %>
  <%= link_to '', '/auth/facebook', class: 'btn social facebook' %>

  <% if Rails.env.development? %>
    <hr>
    <p>Or sign in with test account:</p>
    <ul>
      <li><%= link_to 'Facebooker', sign_in_path(user_id: '0001') %></li>
      <li><%= link_to 'Twitter', sign_in_path(user_id: '0002') %></li>
    </ul>
  <% end %>
</div>